html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f4f6f8;
  color: #071526;
}

a {
  color: inherit;
  text-decoration: none;
}

input, 
textarea, 
button {
  font-family: inherit
}